.text{
    color: blue;
    font-size: larger;
  }
  body{
    background-color: antiquewhite;
  }
  q{
    font-size: xx-large;
  }
  button{
    size: 100px;
    background-color: blue;
    color: black;
    text-shadow: 20px;
  }